<div class="bg-white">
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20">
    <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
      <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <div class="flex gap-4">
              <img class="h-11" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
              <svg class="h-11" viewBox="0 0 128 128">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#C00" d="M109.682 14.737c-12.206-6.023-24.708-6.636-37.508-2.111-11.779 4.164-21.175 11.615-28.16 21.763C32.195 51.561 23.61 70.298 18.799 90.652c-2.464 10.417-4.06 21.466-3.631 32.224.035.873.165 1.124.251 3.124h60.366c-.173-2-.287-1.416-.437-1.797a153.86 153.86 0 01-7.428-25.198c-2.498-12.251-3.806-24.729-1.226-37.093 3.611-17.313 13.48-29.805 30.117-36.283 9.424-3.667 18.369-2.624 26.214 4.262.072.063.22.025.412.056l2.565-3.883c-4.94-4.703-10.368-8.389-16.32-11.327zM3.336 94.394c-.46 3.923-.89 7.596-1.34 11.451l11.132 1.336 2.039-11.893-11.831-.894zm21.85-34.186l-10.471-4.097-3.384 9.607 10.671 3.42c1.08-3.031 2.096-5.882 3.184-8.93zm49.419 53.659c3.575.266 7.157.449 11.103.679-1.433-2.979-2.706-5.673-4.039-8.335-.146-.289-.639-.568-.974-.573-3.033-.044-6.068-.025-9.291-.025.726 2.628 1.357 5.053 2.096 7.443.111.361.707.782 1.105.811zM42.933 31.103l-7.955-5.268-6.359 7.105 8.178 5.496 6.136-7.333zm25.334 53.369c-.013.321.276.832.558.959 2.865 1.288 5.76 2.515 8.912 3.873-.131-2.492-.219-4.575-.368-6.654-.027-.374-.203-.912-.48-1.066-2.631-1.456-5.299-2.847-8.216-4.395-.159 2.665-.321 4.972-.406 7.283zM65.91 12.3l-5.446-6.181-7.499 3.898 5.455 6.644 7.49-4.361zm3.415 49.176c-.163.374.052 1.167.373 1.456 2.175 1.962 4.424 3.84 6.926 5.981.573-2.4 1.113-4.539 1.571-6.693.081-.383-.032-1.016-.298-1.23-1.946-1.569-3.955-3.063-6.037-4.651-.915 1.815-1.802 3.443-2.535 5.137zm12.45-52.424c2.78.075 5.563.042 8.499.042-.293-2.044-.433-3.593-.782-5.092-.104-.446-.775-1.04-1.228-1.078-2.787-.226-5.585-.313-8.651-.459.409 2.063.721 3.881 1.162 5.668.093.379.647.909 1 .919zm3.385 35.675c.142-.266.178-.749.029-.981-1.366-2.137-2.785-4.241-4.254-6.455l-4.76 4.372 6.582 7.294c.884-1.539 1.675-2.868 2.403-4.23zM90.295 30.2l2.843 5.281c4.449-2.438 4.875-3.32 3.3-6.834L90.295 30.2zm21.287-16.273c1.851 1.142 3.806 2.115 5.792 3.185l1.33-2.07c-2.422-1.771-4.76-3.484-7.413-5.426-.104 1.104-.259 1.875-.219 2.637.032.581.129 1.44.51 1.674zM109 30.646c2 .217 5 .424 7 .643v-2.718c-2-.438-5-.872-7-1.323v3.398z"></path>
              </svg>
              <svg class="h-11" viewBox="0 0 128 128">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#D91404" d="M35.971 111.33l81.958 11.188c-9.374-15.606-18.507-30.813-27.713-46.144L35.971 111.33zm89.71-86.383c-2.421 3.636-4.847 7.269-7.265 10.907a67619.72 67619.72 0 00-24.903 37.485c-.462.696-1.061 1.248-.41 2.321 8.016 13.237 15.969 26.513 23.942 39.777 1.258 2.095 2.53 4.182 4.157 6.192l4.834-96.58-.355-.102zM16.252 66.22c.375.355 1.311.562 1.747.347 7.689-3.779 15.427-7.474 22.948-11.564 2.453-1.333 4.339-3.723 6.452-5.661 6.997-6.417 13.983-12.847 20.966-19.278.427-.395.933-.777 1.188-1.275 2.508-4.902 4.973-9.829 7.525-14.898-3.043-1.144-5.928-2.263-8.849-3.281-.396-.138-1.02.136-1.449.375-6.761 3.777-13.649 7.353-20.195 11.472-3.275 2.061-5.943 5.098-8.843 7.743-4.674 4.266-9.342 8.542-13.948 12.882a24.011 24.011 0 00-3.288 3.854c-3.15 4.587-6.206 9.24-9.402 14.025 1.786 1.847 3.41 3.613 5.148 5.259zm28.102-6.271l-11.556 48.823 54.3-34.987-42.744-13.836zm76.631-34.846l-46.15 7.71 15.662 38.096c10.221-15.359 20.24-30.41 30.488-45.806zM44.996 56.644l41.892 13.6c-5.25-12.79-10.32-25.133-15.495-37.737L44.996 56.644zM16.831 75.643L2.169 110.691l27.925-.825-13.263-34.223zm13.593 26.096l.346-.076c3.353-13.941 6.754-27.786 10.177-42.272L18.544 71.035c3.819 9.926 7.891 20.397 11.88 30.704zm84.927-78.897c-4.459-1.181-8.918-2.366-13.379-3.539-6.412-1.686-12.829-3.351-19.237-5.052-.801-.213-1.38-.352-1.851.613-2.265 4.64-4.6 9.245-6.901 13.868-.071.143-.056.328-.111.687l41.47-6.285.009-.292zM89.482 12.288l36.343 10.054-6.005-17.11-30.285 6.715-.053.341zM33.505 114.007c-4.501-.519-9.122-.042-13.687.037-3.75.063-7.5.206-11.25.323-.386.012-.771.09-1.156.506 31.003 2.866 62.005 5.732 93.007 8.6l.063-.414-29.815-4.07c-12.384-1.691-24.747-3.551-37.162-4.982zM2.782 99.994c3.995-9.27 7.973-18.546 11.984-27.809.401-.929.37-1.56-.415-2.308-1.678-1.597-3.237-3.318-5.071-5.226-2.479 12.24-4.897 24.177-7.317 36.113l.271.127c.185-.297.411-.578.548-.897zm78.74-90.153c6.737-1.738 13.572-3.097 20.367-4.613.44-.099.87-.244 1.303-.368l-.067-.332-29.194 3.928c2.741 1.197 4.853 2.091 7.591 1.385z"></path>
              </svg>
              <svg class="h-11" viewBox="0 0 128 128">
                <path d="M39.3 89h53.3c4.6 0 8.3-3.7 8.3-8.3V10.3c0-4.6-3.7-8.3-8.3-8.3H39.3C34.7 2 31 5.7 31 10.3v70.3c0 4.7 3.7 8.4 8.3 8.4zm38.2-75h10.8s-1.8 5-7.5 12H70.4c3.7-4 7.1-12 7.1-12zM57 13.6v20.7s27-10.8 27 8.2V77h-8.8l-.2.1V42.3s2.3-8.3-27.8 3.4c-.1.1-.1-32.1-.1-32.1H57zM47 57.2l9.9 9.9L47 77V57.2zm-11.7 45.6c-4 0-7.3.5-9.7 1.4-.9 3.2-1.3 6.6-1.3 10.4 0 7 1.2 11.3 9.2 11.3 3.7 0 6.8-1.1 9.3-2.3L42 120c-2.4.9-5.5 1.7-8.2 1.7-3.5 0-4.6-.9-4.8-6.9h15v-2.2c0-6.1-2.2-9.8-8.7-9.8zM29 112c.1-3 .3-3.8.5-4.7 1.9-.4 4.1-.4 5.6-.4 3.3 0 3.9 2.1 3.9 5.1H29zm-15.1-9.2c-2.7 0-4.9.7-7.9 1.5V94H2v31h4v-16.6c3-1 5-1.5 7-1.5 1 0 2 .5 2 1.7v16.9l.4-.4H20v-15.8c0-3.8-1.8-6.5-6.1-6.5zm108.1.2v17.4c-3 1-5.6 1.5-7.7 1.5-1 0-2.3-.5-2.3-1.7V103h-4v16.7c0 3.7 1.3 6.3 5.6 6.3 2.7 0 7.4-.4 12.4-3.5V103h-4zm-18.2 0h-5.4c-1.3 3-3.2 7-5.6 9H91V94h-5v31h5v-10h2.1c2.8 3 4.6 7 6 10h5.6c-2.1-4-4.5-8.4-7.7-12.4 2.6-2.7 5-5.6 6.8-9.6zM48 125h4v-16.6c2-.8 5-1.1 7-1.2v-4c-3 .2-7 .9-11 3.1V125zm23.4-22.2c-6.1 0-10.3 3.2-10.3 11.7 0 8 3.2 11.5 10.3 11.5 6.1 0 10.3-3.2 10.3-11.7 0-8-3.2-11.5-10.3-11.5zm0 19.2c-4 0-5.7-1.4-5.7-7.5 0-5.6 2-7.7 5.7-7.7 4 0 5.7 1.4 5.7 7.5-.1 5.6-2.1 7.7-5.7 7.7z" fill="#6762A6"></path>
              </svg>

            </div>
            <div class="mt-24 sm:mt-32 lg:mt-16">
              <a href="#" class="inline-flex space-x-6">
                <span class="rounded-full bg-indigo-600 bg-opacity-10 px-3 py-1 text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-600/10">What's new</span>
                <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-600">
                  <span>Just shipped v0.1.0</span>
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </span>
              </a>
            </div>
            <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Experience the Power of Ruby on Rails for Blogging</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Step into the world of modern web blogging with BlogMaster, our latest Ruby on Rails demo application. Crafted meticulously to showcase the robust capabilities of Ruby on Rails, BlogMaster is a platform where simplicity meets functionality.</p>
            <div class="mt-10 flex items-center gap-x-6">
                <%=  link_to 'Demo', articles_path, class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", id: "demo-link" %>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">View on GitHub <span aria-hidden="true">→</span></a>
            </div>

            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  Push to deploy.
                </dt>
                <dd class="inline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  SSL certificates.
                </dt>
                <dd class="inline">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                    <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                  </svg>
                  Database backups.
                </dt>
                <dd class="inline">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
<!--        <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 md:-mr-20 lg:-mr-36" aria-hidden="true"></div>-->
        <div class="shadow-lg md:rounded-3xl">
          <div class="bg-orange-500 rounded-3xl overflow-hidden max-h-screen">
            <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true"></div>
            <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
              <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                <div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
                  <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                    <div class="-mb-px flex text-sm font-medium leading-6 text-gray-400">
                      <div class="border-b border-r border-b-white border-r-white border-opacity-20 bg-white bg-opacity-5 px-4 py-2 text-white">article_controller.rb</div>
                      <div class="border-r border-gray-600 border-opacity-15 px-4 py-2">routes.rb</div>
                    </div>
                  </div>
                  <div class="px-6 pb-14 pt-6 ">
                  <pre class="text-[0.8125rem] leading-6 text-gray-300" style="tab-size: 2">
<code>
<span class="text-indigo-400">class ArticlesController &lt; ApplicationController</span>
  <span class="text-gray-500">before_action :set_article, only: [:edit, :update, :show, :destroy]</span>

  <span class="text-indigo-400">def show</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def index</span>
    <span class="text-[#7dd3fc]">@articles</span> = <span class="text-emerald-300">Article.all</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def new</span>
    <span class="text-[#7dd3fc]">@article</span> = <span class="text-emerald-300">Article.new</span> <span class="text-gray-500"># initialize a new article object</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def edit</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def create</span>
    <span class="text-gray-500"># render plain: params[:article].inspect</span>
    <span class="text-[#7dd3fc]">@article</span> = <span class="text-emerald-300">Article.new(article_params)</span>
    <span class="text-indigo-400">if</span> <span class="text-[#7dd3fc]">@article.save</span>
      <span class="text-gray-500">flash[:notice] = "Article was created successfully."</span>
      <span class="text-emerald-300">redirect_to</span> <span class="text-[#7dd3fc]">@article</span>
    <span class="text-indigo-400">else</span>
      <span class="text-emerald-300">render</span> <span class="text-'new'">new</span>
    <span class="text-indigo-400">end</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def update</span>
    <span class="text-indigo-400">if</span> <span class="text-[#7dd3fc]">@article.update(article_params)</span>
      <span class="text-gray-500">flash[:notice] = "Article was updated successfully."</span>
      <span class="text-emerald-300">redirect_to</span> <span class="text-[#7dd3fc]">@article</span>
    <span class="text-indigo-400">else</span>
      <span class="text-emerald-300">render</span> <span class="text-'edit'">edit</span>
    <span class="text-indigo-400">end</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def destroy</span>
    <span class="text-[#7dd3fc]">@article.destroy</span>
    <span class="text-gray-500">flash[:notice] = "Article was deleted successfully."</span>
    <span class="text-emerald-300">redirect_to articles_path</span>
  <span class="text-indigo-400">end</span>

  <span class="text-gray-500">private</span>

  <span class="text-indigo-400">def set_article</span>
    <span class="text-[#7dd3fc]">@article</span> = <span class="text-emerald-300">Article.find(params[:id])</span>
  <span class="text-indigo-400">end</span>

  <span class="text-indigo-400">def article_params</span>
    <span class="text-emerald-300">params.require(:article).permit(:title, :description)</span>
  <span class="text-indigo-400">end</span>

<span class="text-indigo-400">end</span>
</code>
</pre>

                    <!--                    class ArticlesController < ApplicationController-->
<!--                    before_action :set_article, only: [:edit, :update, :show, :destroy]-->

<!--                    def show-->
<!--                    end-->

<!--                    def index-->
<!--                    @articles = Article.all-->
<!--                    end-->

<!--                    def new-->
<!--                    @article = Article.new # initialize a new article object-->
<!--                    end-->

<!--                    def edit-->
<!--                    end-->

<!--                    def create-->
<!--                    # render plain: params[:article].inspect-->
<!--                    @article = Article.new(article_params)-->
<!--                    if @article.save-->
<!--                    flash[:notice] = "Article was created successfully."-->
<!--                    redirect_to @article-->
<!--                    else-->
<!--                    render 'new'-->
<!--                    end-->
<!--                    end-->

<!--                    def update-->
<!--                    if @article.update(article_params)-->
<!--                    flash[:notice] = "Article was updated successfully."-->
<!--                    redirect_to @article-->
<!--                    else-->
<!--                    render 'edit'-->
<!--                    end-->
<!--                    end-->

<!--                    def destroy-->
<!--                    @article.destroy-->
<!--                    flash[:notice] = "Article was deleted successfully."-->
<!--                    redirect_to articles_path-->
<!--                    end-->

<!--                    private-->

<!--                    def set_article-->
<!--                    @article = Article.find(params[:id])-->
<!--                    end-->

<!--                    def article_params-->
<!--                    params.require(:article).permit(:title, :description)-->
<!--                    end-->

<!--                    end-->
                  </div>
                </div>
              </div>
              <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
  </div>
</div>


<%= link_to 'Articles Listing', articles_path %>